LISTAS
°Son estructuras de datos que permite almacenar datos de cualquier tipo. (similares a los arrays)
°Son ordenadas, mantienen el orden en el que han sido definidas
°Pueden ser formadas por tipos arbitrarios, es decir; sus elementos pueden ser de distintos tipos de dato 
°Se requiere de un índice para acceder a cada elemento.
°Se pueden anidar, es decir, meter una dentro de la otra.
°Sea crea con [] separando sus elementos con comas
°Son mutables, ya que sus elementos pueden ser modificados.
°Son dinámicas, ya que se pueden añadir o eliminar elementos.
<Los dos últimos puntos son la principal diferencia con los sets y las tuplas>

In [4]:
#Se crean 

#alternativa 1
lista = [1, 2, 3, 4]

#alternativa 2
lista = list("1234")

#alternativa 3
lista = [1, "Hola", 3.67, [1, 2, 3]]

In [22]:
#guardan números
[22,23,24,25]

[22, 23, 24, 25]

In [23]:
#guardan string. 
["rojo", "azul", "amarillo"]

['rojo', 'azul', 'amarillo']

In [24]:
#guardan diferentes tipos de datos
['python',8,2.2,[10,12,14]]

['python', 8, 2.2, [10, 12, 14]]

In [25]:
#guardar lista en una variable 
colores = ["rojo", "azul", "amarillo"]
numeros = [22,23,24,25]
lista_vacia = []

In [26]:
print(colores)
print(type(colores))

print(numeros)
print(type(numeros))

print(lista_vacia)
print(type(lista_vacia))

['rojo', 'azul', 'amarillo']
<class 'list'>
[22, 23, 24, 25]
<class 'list'>
[]
<class 'list'>

In [7]:
#Acceder y modificar listas
#Si tenemos una lista a con 3 elementos almacenados en ella, podemos acceder a los mismos usando corchetes y un índice, 
#que va desde 0 a n-1 siendo n el tamaño de la lista.

a = [90, "Python", 3.87]
print(a[0]) #90
print(a[1]) #Python
print(a[2]) #3.87

print(a[-1]) #3.87  Se puede también acceder al último elemento usando el índice [-1].

90
Python
3.87
3.87

In [9]:
#para modificar un elemento de la lista, basta con asignar con el operador = el nuevo valor.

a = [90, "Python", 3.87]
a[2] = 1
print(a) #[90, 'Python', 1]

[90, 'Python', 1]

In [10]:
#eliminar un elemento por el índice 
l = [1, 2, 3, 4, 5]
del l[1]
print(l)

[1, 3, 4, 5]

In [27]:
#índices de referencia
#rojo, azul, amarillo: son ELEMENTOS DE LA LISTA
#elemento ROJO --> índice 0
#elemento AZUL --> índice 1

mi_lista = ["rojo", "azul", "amarillo","naranja","violeta","verde"]
print(mi_lista[2]) #imprime el índice 2, el cual corresponde al elemento 3

amarillo

In [28]:
#accesa a un rango dentro de la lista. El límite inferior se incluye el superior se excluye
print(mi_lista[0:2])

['rojo', 'azul']

In [29]:
#omitimos el límite inferior de la lista. 
#Python asume por defecto que es un cero,imprime el elemento 1
print(mi_lista[:2])

['rojo', 'azul']

In [30]:
#omitimos el valor del límite superior de la lista.
#Python asume que se trata de todos los elementos a partir del primero
print(mi_lista[0:])

['rojo', 'azul', 'amarillo', 'naranja', 'violeta', 'verde']

In [16]:
#listas anidadas

x = [1, 2, 3, ['p', 'q', [5, 6, 7]]]
print(x[3][0])    #p
print(x[3][2][0]) #5
print(x[3][2][2]) #7

p
5
7

In [19]:
#También es posible crear sublistas más pequeñas de una más grande. 
l = [1, 2, 3, 4, 5, 6]
print(l[0:2]) #[1, 2]
print(l[2:6]) #[3, 4, 5, 6]

[1, 2]
[3, 4, 5, 6]

In [20]:
#de la misma manera podemos modificar múltiples valores de la lista a la vez usando :
l = [1, 2, 3, 4, 5, 6]
l[0:3] = [0, 0, 0]
print(l) #[0, 0, 0, 4, 5, 6]

[0, 0, 0, 4, 5, 6]

In [31]:
#append(): Función que agrega un elemento al final de la lista.
#append(<obj>)

mi_lista.append("blanco")
print(mi_lista)

#si el elemento que se va incluir ya existe previamente en la lista va quedar duplicado
mi_lista.append("azul")
print(mi_lista)

['rojo', 'azul', 'amarillo', 'naranja', 'violeta', 'verde', 'blanco']
['rojo', 'azul', 'amarillo', 'naranja', 'violeta', 'verde', 'blanco', 'azul']

In [29]:
l = [1, 2]
l.append(3)
print(l)

[1, 2, 3]

In [32]:
#insert(): Inserta un elemento en una posición específica o índice determinado de la lista.
#insert(<index>, <obj>)

mi_lista.insert(3,"negro")
print(mi_lista)

['rojo', 'azul', 'amarillo', 'negro', 'naranja', 'violeta', 'verde', 'blanco', 'azul']

In [31]:
l = [1, 3]
l.insert(1, 2)
print(l)

[1, 2, 3]

In [33]:
#extend(): Agrega/concatena los elementos de otra lista al final de la lista actual.
#extend(<iterable>)
mi_lista.extend(['rosa','gris'])
print(mi_lista)

['rojo', 'azul', 'amarillo', 'negro', 'naranja', 'violeta', 'verde', 'blanco', 'azul', 'rosa', 'gris']

In [30]:
l = [1, 2]
l.extend([3, 4])
print(l)

[1, 2, 3, 4]

In [34]:
mi_lista2=['libro','cuaderno']
mi_lista3=['lapiz','sacapunta','colores']

mi_lista2.extend(mi_lista3)
print(mi_lista2)

#tambien se puede así, sin necesidad ce crear una lista3
mi_lista2.extend(['lapiz','sacapunta','colores'])
print(mi_lista2)

['libro', 'cuaderno', 'lapiz', 'sacapunta', 'colores']
['libro', 'cuaderno', 'lapiz', 'sacapunta', 'colores', 'lapiz', 'sacapunta', 'colores']

In [21]:
#Hay ciertos operadores como el + que pueden ser usados sobre las listas.
l = [1, 2, 3]
l += [4, 5]
print(l) #[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [35]:
#index(): Devuelve el índice de la primera aparición de un elemento en la lista.
#index(<obj>[,index])

mi_lista.index("azul")

1

In [37]:
l = ["Periphery", "Intervals", "Monuments"]
print(l.index("Intervals"))

1

In [38]:
#También permite introducir un parámetro opcional que representa el índice desde el que comenzar la búsqueda del objeto. 
# Es como si ignorara todo lo que hay antes de ese índice para la búsqueda, en este caso el 4.
l = [1, 1, 1, 1, 2, 1, 4, 5]
print(l.index(1, 4))

5

In [36]:
#remove(): Elimina la primera aparición de un elemento de la lista.
#remove(<obj>)

print(mi_lista )
mi_lista.remove("blanco")

['rojo', 'azul', 'amarillo', 'negro', 'naranja', 'violeta', 'verde', 'blanco', 'azul', 'rosa', 'gris']

In [37]:
print(mi_lista) #resultado despues del remove

['rojo', 'azul', 'amarillo', 'negro', 'naranja', 'violeta', 'verde', 'azul', 'rosa', 'gris']

In [32]:
l = [1, 2, 3]
l.remove(3)
print(l)

[1, 2]

In [38]:
#si queremos eliminar un elemento que no existe dará error
print(mi_lista.index("celeste"))

ValueError: 'celeste' is not in list

In [ ]:
#.pop():  Elimina por defecto el último elemento de una lista. 
#pop(index=-1)

#borra de manera definitiva el elemento, se recomienda guardar en una variable el elemento 
#que se borrará por si se quiere dar luego otro uso
ultimo=mi_lista.pop()

In [ ]:
print(mi_lista) #ya no esta el elemento gris

['rojo', 'azul', 'amarillo', 'negro', 'naranja', 'violeta', 'verde', 'azul', 'rosa']

In [ ]:
#consultamos variable ultimo
print(ultimo) #la variable definitivamente guardo el ultimo elemento de la lista eliminado con pop

gris

In [33]:
l = [1, 2, 3]
l.pop()
print(l)

[1, 2]

In [ ]:
#Con el pop si se pasa como parámetro un índice permite borrar elementos diferentes al último.
segundo= mi_lista.pop(1)

In [ ]:
print(mi_lista)

['rojo', 'amarillo', 'negro', 'naranja', 'violeta', 'verde', 'azul', 'rosa']

In [ ]:
print(segundo)

azul

In [ ]:
#podemos multiplicar los elementos de nuestra lista sin modificar la lista original
lista=[22,23,24]
print(lista*3)

[22, 23, 24, 22, 23, 24, 22, 23, 24]

In [ ]:
print(lista) #verificamos que efectivamente no se modifico la original

[22, 23, 24]

In [ ]:
#si queremos mantener la lista con los elementos duplicados se hace de esta manera
lista_por_tres= lista*3
print(lista_por_tres)

[22, 23, 24, 22, 23, 24, 22, 23, 24]

In [ ]:
#sort(): Ordena los elementos de la lista en orden ascendente (por defecto).
#sort()

lista=[1,4,3,6,8,2]

In [ ]:
lista.sort()
print(lista)

[1, 2, 3, 4, 6, 8]

In [ ]:
mi_lista=['rojo','azul','amarillo','negro','naranja','violeta','verde','blanco','rosa','gris']
print(mi_lista)

['rojo', 'azul', 'amarillo', 'negro', 'naranja', 'violeta', 'verde', 'blanco', 'rosa', 'gris']

In [ ]:
mi_lista.sort()
print(mi_lista)

['amarillo', 'azul', 'blanco', 'gris', 'naranja', 'negro', 'rojo', 'rosa', 'verde', 'violeta']

In [35]:
l = [3, 1, 2]
l.sort() #ordena los elementos de menos a mayor por defecto.
print(l)

[1, 2, 3]

In [36]:
l = [3, 1, 2]
l.sort(reverse=True) #ordena de mayor a menor si se pasa como parámetro reverse=True.
print(l)

[3, 2, 1]

In [ ]:
#El método reverse() inverte el órden de la lista.
#reverse()

lista=[1,4,3,6,8,2]

lista.sort(reverse=True) #ordenará de mayor a menor
print(lista)

[8, 6, 4, 3, 2, 1]

In [34]:
l = [1, 2, 3]
l.reverse()
print(l)

[3, 2, 1]

In [ ]:
mi_lista=["rojo","azul","amarillo","naranja","violeta","verde"]
mi_lista.sort(reverse=True)

In [ ]:
print(mi_lista)

['violeta', 'verde', 'rojo', 'naranja', 'azul', 'amarillo']

In [22]:
#Se puede asignar una lista con n elementos a n variables.
l = [1, 2, 3]
x, y, z = l
print(x, y, z) #1 2 3

1 2 3

In [23]:
#Iterar listas
lista = [5, 9, 10]
for l in lista:
    print(l)

5
9
10

In [24]:
#necesitamos un índice acompañado con la lista, que tome valores desde 0 hasta n-1
lista = [5, 9, 10]
for index, l in enumerate(lista):
    print(index, l)

0 5
1 9
2 10

In [25]:
#tenemos dos listas y las queremos iterar a la vez
lista1 = [5, 9, 10]
lista2 = ["Jazz", "Rock", "Djent"]
for l1, l2 in zip(lista1, lista2):
    print(l1, l2)

5 Jazz
9 Rock
10 Djent

In [28]:
#Se pueden iterar las listas usando los índices y haciendo uso de len(), que nos devuelve la longitud de la lista.
lista1 = [5, 9, 10]
for i in range(0, len(lista)):
    print(lista1[i])

5
9
10

TUPLAS
°Son un tipo o estructura de datos que permite almacenar datos de una manera muy parecida a las listas
°Son inmutables, no se pueden modificar despues de su creación
°Se definen utilizando paréntesis () y los elementos se separan por comas
°Dependiendo de lo que queramos hacer, las tuplas pueden ser más rápidas.

In [ ]:
mi_tupla=(2,4,6,8,10)
print(mi_tupla)

(2, 4, 6, 8, 10)

In [ ]:
type(mi_tupla)

tuple

In [39]:
#También pueden declararse sin (), separando por , todos sus elementos.
tupla = 1, 2, 3
print(type(tupla)) 
print(tupla)

<class 'tuple'>
(1, 2, 3)

In [40]:
#Al igual que las listas, las tuplas también pueden ser anidadas.
tupla = 1, 2, ('a', 'b'), 3
print(tupla)       #(1, 2, ('a', 'b'), 3)
print(tupla[2][0]) #a

(1, 2, ('a', 'b'), 3)
a

In [41]:
#también es posible convertir una lista en tupla haciendo uso de al función tuple().
lista = [1, 2, 3]
tupla = tuple(lista)
print(type(tupla)) #<class 'tuple'>
print(tupla)       #(1, 2, 3)

<class 'tuple'>
(1, 2, 3)

In [42]:
#Se puede iterar una tupla de la misma forma que se hacía con las listas.
tupla = [1, 2, 3]
for t in tupla:
    print(t) #1, 2, 3

1
2
3

In [46]:
#es posible crear una tupla de un solo elemento.
#pero se debe siempre colocar coma pára que python la reconozca como tupla no como string
tupla = (2,)
print(type(tupla)) #<class 'tuple'>

<class 'tuple'>

In [50]:
mi_tupla_unitaria=('blanco',)
type(mi_tupla_unitaria)

tuple

In [43]:
#Se puede también asignar el valor de una tupla con n elementos a n variables.
l = (1, 2, 3)
x, y, z = l
print(x, y, z) #1 2 3

1 2 3

In [47]:
#El método index() busca el objeto que se le pasa como parámetro y devuelve el índice en el que se ha encontrado.
#index(<obj>[,index])
l = [7, 7, 7, 3, 5]
print(l.index(5)) #4

4

In [49]:
#El método index() también acepta un segundo parámetro opcional, que indica a partir de que índice empezar a buscar el objeto.
l = [7, 7, 7, 3, 5]
print(l.index(7, 2)) #2

2

In [ ]:
tupla_dias=('lunes','martes','miercoles','jueves','viernes','sabado','domingo')
print(tupla_dias[1]) #imprime indice 1 de la tupla

martes

In [ ]:
#buscar por indice
tupla_dias=('lunes','martes','miercoles','jueves','viernes','sabado','domingo')
tupla_dias[2]

'miercoles'

In [ ]:
#El método count() cuenta el número de veces que el objeto pasado como parámetro se ha encontrado en la lista.
#count(<obj>)

tupla_dias.count('sabado')

1

In [48]:
l = [1, 1, 1, 3, 5]
print(l.count(1)) #3

3

In [ ]:
#evaluar si un elemento se encuentra en la tupla
#python reconoce diferencia de mayusculas/minusculas

'jueves' in tupla_dias

True

In [ ]:
#tambien se puede hacer buqueda por rebanadas
#recordar que el limite superior se excluye
tupla_dias[1:3]

('martes', 'miercoles')

In [ ]:
#al intentar modificar la tupla da error. no son 
tupla_dias[0]='Lunes'

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Empaquetado de tuplas
x=11
y=22
z='Henry'

mi_tupla=x,y,z #acá asignamos las variables definidas antes para crear la tupla
print(mi_tupla)
type(mi_tupla)

(11, 22, 'Henry')

tuple

In [ ]:
#Desempaquetado de tuplas
date=(22,'agosto',1979) 
print(date)
type(date)

uno,dos,tres=date #a las variables separadas por coma se le asigna la tupla date que tiene 3 elementos
print(uno)
print(dos)
print(tres)
#a cada variable se le asigno un elemento de la tupla

(22, 'agosto', 1979)
22
agosto
1979

In [ ]:
uno,dos=date #da error porque deben haber tantas variables como elementos en la tupla
#si solo quiero traerme 2 valores de la tupla,entonces para que no dé error se debe colocar guion bajo para obviar el valor 3
#quedaría así: uno,dos,_ = date ó tambien uno,dos, *resto = date

ValueError: too many values to unpack (expected 2)

In [ ]:
uno,dos,tres,cuatro=date #da error porque no hay suficientes valores para desempaquetar

ValueError: not enough values to unpack (expected 4, got 3)

In [ ]:
#para desempaquetar solo algunos valores de la tupla
tupla_impares=(1,3,5,7,9)

primero=tupla_impares[0]
cuarto=tupla_impares[3]
quinto=tupla_impares[4]

print(primero)
print(cuarto)
print(quinto)

1
7
9

In [ ]:
#colocar guion bajo y coma para los elementos que no se quieren desempaquetar 
#y asignar variable a los que si reealmente se quieren
_,_,_,cuarto,quinto=tupla_impares

In [ ]:
print(cuarto)
print(quinto)

7
9

In [ ]:
#convertir tupla en lista
lista_impares=list(tupla_impares)
print(lista_impares)
type(lista_impares)

[1, 3, 5, 7, 9]

list

In [ ]:
#convertir lista en tupla
nueva_tupla=tuple(lista_impares)
print(nueva_tupla)
type(nueva_tupla)

(1, 3, 5, 7, 9)

tuple

DICCIONARIOS
°Es una colección de elementos, donde cada uno tiene una llave key y un valor value.
°se crean con llaves {} separando con una coma cada par key: value
°Son dinámicos, pueden crecer o decrecer, se pueden añadir o eliminar elementos.
°Son indexados, los elementos del diccionario son accesibles a través del key.
°Y son anidados, un diccionario puede contener a otro diccionario en su campo value.

In [ ]:
primer_diccionario=dict()

In [ ]:
primer_diccionario

{}

In [ ]:
type(primer_diccionario)

dict

In [51]:
#En el siguiente ejemplo tenemos tres keys que son el Nombre, Edad, Documento.
d1 = {
  "Nombre": "Sara",
  "Edad": 27,
  "Documento": 1003882
}
print(d1)    #{'Nombre': 'Sara', 'Edad': 27, 'Documento': 1003882}

{'Nombre': 'Sara', 'Edad': 27, 'Documento': 1003882}

In [52]:
#Otra forma equivalente de crear un diccionario en Python es usando dict() e introduciendo los pares key: value entre paréntesis.
d2 = dict([
      ('Nombre', 'Sara'),
      ('Edad', 27),
      ('Documento', 1003882),
])
print(d2) #{'Nombre': 'Sara', 'Edad': '27', 'Documento': '1003882'}

{'Nombre': 'Sara', 'Edad': 27, 'Documento': 1003882}

In [55]:
segundo_diccionario={'cuatro':4,'cinco':5,'seis':6}
print(segundo_diccionario)

{'cuatro': 4, 'cinco': 5, 'seis': 6}

In [53]:
#También es posible usar el constructor dict() para crear un diccionario.
d3 = dict(Nombre='Sara',
          Edad=27,
          Documento=1003882)
print(d3) #{'Nombre': 'Sara', 'Edad': 27, 'Documento': 1003882}

{'Nombre': 'Sara', 'Edad': 27, 'Documento': 1003882}

In [56]:
#creamos un diccionario con diferentes tipos de valores
#va tener 4 claves: Colores Primarios - Colores secundarios - Clave3 - Clave4
mi_diccionario = {  'Colores Primarios': ['Rojo','Azul','Amarillo'], 
                    'Colores secundarios': ['Naranja','Violeta','Verde'], 
                    'Clave3': 10,
                    'Clave4': False}
print(mi_diccionario)

{'Colores Primarios': ['Rojo', 'Azul', 'Amarillo'], 'Colores secundarios': ['Naranja', 'Violeta', 'Verde'], 'Clave3': 10, 'Clave4': False}

In [54]:
#Se puede acceder a sus elementos/valores con [] o también con la función/método get()
#get(<key>[,<default>]) 

print(d1['Nombre'])     #Sara
print(d1.get('Nombre')) #Sara

Sara
Sara

In [68]:
d = {'a': 1, 'b': 2}
print(d.get('a')) #1
print(d.get('z', 'No encontrado'))

1
No encontrado

In [ ]:
#agregar elementos al diccionario
primer_diccionario['primero']='uno'

In [ ]:
primer_diccionario

{'primero': 'uno'}

In [ ]:
primer_diccionario['segundo']='dos'
primer_diccionario['tercero']='tres'

In [ ]:
print(primer_diccionario)

{'primero': 'uno', 'segundo': 'dos', 'tercero': 'tres'}

In [ ]:
#para acceder a un valor específico usando la clave correspondiente
print(segundo_diccionario['cuatro'])

4

In [57]:
#modificar un elemento basta con usar [] con el nombre del key y asignar el valor que queremos.
d1['Nombre'] = "Laura"
print(d1) #{'Nombre': Laura', 'Edad': 27, 'Documento': 1003882}

{'Nombre': 'Laura', 'Edad': 27, 'Documento': 1003882}

In [58]:
#Si el key al que accedemos no existe, se añade automáticamente.
d1['Direccion'] = "Calle 123"
print(d1) #{'Nombre': 'Laura', 'Edad': 27, 'Documento': 1003882, 'Direccion': 'Calle 123'}

{'Nombre': 'Laura', 'Edad': 27, 'Documento': 1003882, 'Direccion': 'Calle 123'}

In [ ]:
#eliminar un elemento del diccionario a traves de su clave
del mi_diccionario['Clave4']

In [ ]:
print(mi_diccionario)

{'Colores Primarios': ['Rojo', 'Azul', 'Amarillo'], 'Colores secundarios': ['Naranja', 'Violeta', 'Verde'], 'Clave3': 10}

In [ ]:
#se puede usar una tupla como clave de un diccionario
#luego a cada clave que proviene de la tupla le asignamos un valor
mi_tupla=('Angentina','Italia','Inglaterra')

mi_diccionario2={mi_tupla[0]:"Buenos Aires",
                 mi_tupla[1]:"Roma",
                 mi_tupla[2]:"Londres"}

In [ ]:
print(mi_diccionario2)

{'Angentina': 'Buenos Aires', 'Italia': 'Roma', 'Inglaterra': 'Londres'}

In [ ]:
#podemos colocar una tupla dentro del diccionario
mi_diccionario3={'clave1':'valor1',
                 'clave2':(1,2,3,4,5)} #esto es una tupla

In [ ]:
print(mi_diccionario3)

{'clave1': 'valor1', 'clave2': (1, 2, 3, 4, 5)}

In [ ]:
#podemos colocar una lista dentro del diccionario
mi_diccionario4={'clave1':'valor1',
                 'clave2':[6,7,8,9,10]} #esto es una lista

In [ ]:
print(mi_diccionario4)

{'clave1': 'valor1', 'clave2': [6, 7, 8, 9, 10]}

In [62]:
#podemos colocar un diccionario dentro de otro diccionario
mi_diccionario5={'clave1':'valor1',
                 'clave2':{'numero':[1,2,3,4,5]}} 
#a la clave 2 se le asoció como valor un diccionario numero el cual contiene una lista de valores

In [ ]:
print(mi_diccionario5)

{'clave1': 'valor1', 'clave2': {'numero': [1, 2, 3, 4, 5]}}

In [41]:
#para imprimir las claves del diccionario
print(mi_diccionario5.keys())

dict_keys(['clave1', 'clave2'])

In [59]:
for x in d1:
    print(x)

Nombre
Edad
Documento
Direccion

In [63]:
#para imprimir los valores del diccionario
print(mi_diccionario5.values())

dict_values(['valor1', {'numero': [1, 2, 3, 4, 5]}])

In [60]:
for x in d1:
    print(d1[x])

Laura
27
1003882
Calle 123

In [72]:
#El método values() devuelve una lista con todos los values o valores del diccionario.
#values()
d = {'a': 1, 'b': 2}
print(list(d.values())) #[1, 2]

[1, 2]

In [70]:
#para imprimir las claves del diccionario
print(mi_diccionario5['clave2'])

{'numero': [1, 2, 3, 4, 5]}

In [71]:
#El método keys() devuelve una lista con todas las keys del diccionario.
#keys()
d = {'a': 1, 'b': 2}
k = d.keys()
print(k)       #dict_keys(['a', 'b'])
print(list(k)) #['a', 'b']

dict_keys(['a', 'b'])
['a', 'b']

In [65]:
#El método items() devuelve una lista con los keys y values del diccionario. 
#items()
for x, y in d1.items():
    print(x, y)

Nombre Laura
Edad 27
Documento 1003882
Direccion Calle 123

In [69]:
#Si se convierte en list se puede indexar como si de una lista normal se tratase, s
# siendo los primeros elementos las key y los segundos los value.
d = {'a': 1, 'b': 2}
it = d.items()
print(it)             #dict_items([('a', 1), ('b', 2)])
print(list(it))       #[('a', 1), ('b', 2)]
print(list(it)[0][0]) #a

dict_items([('a', 1), ('b', 2)])
[('a', 1), ('b', 2)]
a

In [ ]:
#para obtener la longitud del diccionario
len(mi_diccionario5) #mi_diccionario5 cuenta con 2 claves-valor

2

In [66]:
#Diccionarios anidados
#Los diccionarios pueden contener uno dentro de otro. 
# Podemos ver como los valores anidado uno y dos del diccionario d contienen a su vez otro diccionario.

anidado1 = {"a": 1, "b": 2}
anidado2 = {"a": 1, "b": 2}
d = {
  "anidado1" : anidado1,
  "anidado2" : anidado2
}
print(d) #{'anidado1': {'a': 1, 'b': 2}, 'anidado2': {'a': 1, 'b': 2}}

{'anidado1': {'a': 1, 'b': 2}, 'anidado2': {'a': 1, 'b': 2}}

In [67]:
#El método clear() elimina todo el contenido del diccionario.
#clear()

d = {'a': 1, 'b': 2}
d.clear()
print(d) #{}

{}

In [73]:
#método pop() busca y elimina la key que se pasa como parámetro y devuelve su valor asociado. 
# Daría un error si se intenta eliminar una key que no existe.
#pop(<key>[,<default>])

d = {'a': 1, 'b': 2}
d.pop('a')
print(d) #{'b': 2}

{'b': 2}

In [ ]:
#También se puede pasar un segundo parámetro que es el valor a devolver si la key no se ha encontrado. 
# En este caso si no se encuentra no habría error.

d = {'a': 1, 'b': 2}
d.pop('c', -1)
print(d) #{'a': 1, 'b': 2}

In [74]:
#método popitem() elimina de manera aleatoria un elemento del diccionario.
#popitem()

d = {'a': 1, 'b': 2}
d.popitem()
print(d) #{'a': 1}

{'a': 1}

In [75]:
#método update() se llama sobre un diccionario y tiene como entrada otro diccionario. 
# Los value son actualizados y si alguna key del nuevo diccionario no esta, es añadida.
#update(<obj>)
d1 = {'a': 1, 'b': 2}
d2 = {'a': 0, 'd': 400}
d1.update(d2)
print(d1)

{'a': 0, 'b': 2, 'd': 400}