In [27]:
###OPERADORES ARITMÉTICOS###

In [25]:
8+8 #suma de números

16

In [2]:
a=8 #suma de variables  
b=3.5
a+b

11.5

In [3]:
a=8 #suma de variables y numeros
a+10

18

In [4]:
22-11 #resta de numeros

11

In [8]:
m=50 #resta de variables
n=30
m-n

20

In [9]:
m=50 #resta de numeros/variables
60-m

10

In [10]:
20*4    #multiplicacion con numeros

80

In [11]:
num1=6  #multiplicacion con variables
num2=3
num1*num2

18

In [12]:
num=5 #multiplicacion con numeros y variables
num*4

20

In [13]:
#Potenciación:Primer elemento es la base y segundo elemento es el exponente
5**2    #cinco elevado a la 2

25

In [14]:
b=2     #potencias con variables
e=3
b**e

8

In [15]:
numero=3    #potencias con variables y numeros
numero**2

9

In [16]:
#Division: hay 2 tipos de operadores. 
#el / divide el numero de la izquierda por el de la derecha, el resultado puede ser tipo flotante
10/3

3.3333333333333335

In [17]:
#el doble // igual realiza la división pero el resultado es entero
10//3

3

In [18]:
20/0 #si divides por cero dara ERROR

ZeroDivisionError: division by zero

In [20]:
dividendo=21 #division con variables
divisor= 7

dividendo/divisor

3.0

In [21]:
dividendo/4 #division con variables y numeros

5.25

In [22]:
#modulo o resto. devuelve el resto (sobrante&residuo) de la division
#7/2=3 y el resto es igual a 1
7%2

1

In [23]:
#el resto cero (0) permite distinguir los numeros pares 
print(6%2)
print(12%2)
print(448%2)

0
0
0

In [24]:
#el resto uno (1) permite distinguir los numeros impares 
print(9%2)
print(15%2)
print(327%2)

1
1
1

In [28]:
###OPERADORES RELACIONALES###

In [29]:
#IGUALDAD
'mano'=='mano' #comparamos 2 string

True

In [30]:
4==2+2

True

In [31]:
4=='4'

False

In [32]:
#comprobando la linea anterior ¿por qué dió falso?
print(type(4))
print(type('4')) #los valores comparados son de tipos de datos diferentes

<class 'int'>
<class 'str'>

In [33]:
#DISTINTO. Comparamos si ambos operandos no son iguales
4!="4"  #el resultado debe devolver true si ambos operandos no son del mismo tipo de datos

True

In [37]:
#el resultado es false porque las partes comparadas tienen el mismo tipo de datos 
#y ademas son el mismo valor
9!= 4+5

False

In [40]:
#el resultado es true aunque las partes comparadas tienen el mismo tipo de datos 
#los valores comparados son diferentes 
9!= 4+10

True

In [35]:
#MAYOR. devuelve true si el operador de la izquierda es mayor que el operador de la derecha
12>3

True

In [41]:
#MENOR. devuelve true si el operador de la izquierda es menor que el de la derecha
num1=12 
num2=16
num1<num2

True

In [ ]:
###OPERADORES DE ASIGNACION###

In [45]:
x=10
x+=5 #permite modificar el valor de la variable al momento de ejecutar la operación
print(x)

15

In [46]:
x=10
x=x+5 #esto representa lo mismo que el ejercicio anterior
print(x)

15

In [47]:
x=10
x-=2
print(x)

8

In [49]:
x=10
x*=2
print(x)

20

In [50]:
x=10
x/=3
print(x)

3.3333333333333335

In [51]:
x=10
x//=3
print(x)

3

In [52]:
x=10
x%=3
print(x)

1

In [55]:
x=10
x**=2
print(x)

100

In [ ]:
###OPERACIONES CON STRING###

In [59]:
"Hola "+"Henry"

'Hola Henry'

In [58]:
'Hola'+' '+'Henry'

'Hola Henry'

In [61]:
'Henry '*3

'Henry Henry Henry '

In [ ]:
###OPERACIONES LOGICAS### - Tablas de verdad

In [62]:
#el operador AND evalua si el operador de la izquierda Y el de la derecha son true, devuelve true
print(True and True) #true
print(True and False) #false
print(False and True) #false
print(False and False) #false

True
False
False
False

In [64]:
#el operador OR evalua si el valor de la izquierda O el de la derecha es true, devuelve true
print(True or True) #true
print(True or False) #true
print(False or True) #true
print(False or False) #false

True
True
True
False

In [65]:
#operador not, invierte el true por el false y false por true
print(not True) #false
print(not False) #true

False
True

In [68]:
#or exclusiva ó x or. se debe cumplir una sola condicion para que sea true
a=bool(1) #true
b=bool(0) #false

print(a^b) #SOLO SI hay un valor verdadero, el resultado es true

True

In [67]:
a=bool(0) #false
b=bool(0) #false

print(a^b) #ambos son false, el resultado es false

False

In [69]:
a=bool(0) #false
b=bool(1) #true

print(a^b) #hay un valor verdadero, el resultado es true

True

In [70]:
a=bool(1) #true
b=bool(1) #true

print(a^b) #ambos son true, el resultado es false.

False

In [4]:
num=3.5
print(type(num))

int(num) #Convertir números flotantes a enteros (no redondea al próximo)

<class 'float'>

3

In [5]:
#Int: Función que convierte string a entero
int('hola') #este ejercicio da error porque el string no es un numero

ValueError: invalid literal for int() with base 10: 'hola'

In [6]:
num="8"
type(num) #confirmamos el tipo de datos en la variable

str

In [9]:
#comvertimos a entero. int(num)
#Esta instrucción no modifica a la variable,si se verifica el tipo seguira siendo str
print(int(num))
print(type(num))

8
<class 'str'>

In [10]:
#si se desea cambiar el tipo de dato de la variable 
num= int(num) #reasignamos un valor de tipo entero a la variable num
type(num)

int

In [14]:
#si no se desea remplazar la variable se hace la asignación a otra nueva variable num2
num='10'
num2= int(num) #reasignamos el valor de tipo entero a num2 y mantenemos num como string
print(type(num))
print(type(num2))

<class 'str'>
<class 'int'>

In [16]:
#Float: Función que construye un flotante a partir de un entero o tambien un string
#el string debe representar un numero
num="8.5"
print(type(num))

num3=float(num) #convertimos a flotante y guardamos en nueva variable
print(type(num3))

<class 'str'>
<class 'float'>

In [18]:
#convertimos un entero a flotante y se guarda en nueva variable num4
num=4
print(type(num))

num4=float(num)
print(type(num4))

<class 'int'>
<class 'float'>

In [20]:
#str: Función que construye una cadena o string a partir de una amplia variedad de tipo de datos
x=10
print(type(x))

y=str(x) #convertimos numero entero a string y asignamos a nueva variable
print(type(y))

<class 'int'>
<class 'str'>

In [21]:
x=2.2
print(type(x))

y=str(x) #convertimos float a string y asignamos a nueva variable
print(type(y))

<class 'float'>
<class 'str'>

In [22]:
#desplazamiento a la izquierda de bits

#El número 1 en binario se representa como 0001 bits.
resultado= 1<<2 #realiza el desplazamiento 2 posiciones a la izquierda lo que resulta en 0100.

print(resultado) #El resultado final en binario es 0100, que se traduce al número decimal 4.

4