## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [32]:
num= 8
print(num)

8

2) Imprimir el tipo de dato de la constante 8.5

In [33]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [34]:
type(num)

int

4) Crear una variable que contenga tu nombre

In [36]:
mi_nombre= 'Johanna Rangel'
print(mi_nombre)

Johanna Rangel

5) Crear una variable que contenga un número complejo

In [37]:
num_comp= 7 + 2j
print(num_comp)

(7+2j)

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [38]:
type(num_comp)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [1]:
pi= 3.141592
round(pi, 4)

3.1416

In [2]:
import math

numero_pi = math.pi
round(numero_pi,4)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [3]:
var_1= 'True'
var_2= True

var_1 == var_2

False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [41]:
type(var_1)

str

In [42]:
type(var_2)

bool

10) Asignar a una variable, la suma de un número entero y otro decimal

In [40]:
a = 3 + 1.0
type(a)

float

11) Realizar una operación de suma de números complejos

In [39]:
a = (3 + 2j)
b = (1 - 4j)
a+b

(4-2j)

12) Realizar una operación de suma de un número real y otro complejo

In [43]:
a = (3+2j)
b = 3
a+b

(6+2j)

13) Realizar una operación de multiplicación

In [12]:
a = 1
b = 3
a*b

3

14) Mostrar el resultado de elevar 2 a la octava potencia

In [13]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [14]:
a = 27/4
a

6.75

16) De la división anterior solamente mostrar la parte entera

In [15]:
27//4

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [16]:
27%4

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [17]:
resultado = 6*4 + 3
resultado

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [19]:
a = 'hola'
b = ' mundo'
a+b

'hola mundo'

In [45]:
var_1= 'Hola '
var_2= 'Henry'
print(var_1 + var_2)

Hola Henry

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [20]:
"2" == 2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [21]:
int("2") == 2

True

In [22]:
"2" == str(2)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [46]:
a = float('3,8')
#no se puede convertir un string en flotante

ValueError: could not convert string to float: '3,8'

In [47]:
a = float("3.8")
a

3.8

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [31]:
a = 3
a = a - 1  
#a -= 1 #tambien puede ser de esta manera 
a

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [50]:
1 << 2
#el numero 1 en binario se representa 0001
#El binario 0001 se desplaza 2 posiciones hacia la izquierda y se rellena con ceros a la derecha quedando 0100 que representa al decimal 4

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [49]:
2 + '2'
#da error porque los tipos de datos son distintos (un entero y un string)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [48]:
var1= 'Sigo estudiando '
var2= 2
var1 * var2

'Sigo estudiando Sigo estudiando '